#app-contacts .app-header {
	background: #4b1191;
	color: #fff;
}
#app-contacts .badge{
	background: #fa233c;
	color:#fff;
}
#app-contacts h3{
	color: #4b1191;
	border:0;
	margin-bottom: 20px;
}
#app-contacts h5{
	color: #333;
	font-size:18px;
}
#app-contacts .search input{
	height: 40px;
	max-width: 400px;
	width: 100%;
	padding: 5px;
}
#app-contacts .search button{
	height: 37px;
	background: #4b1191;
	color:#fff;
}
#app-contacts .search button:hover{
	background: #280e47;
}
#app-contacts .favorites{
	margin-top: 30px;
	height: 100%;
}
#app-contacts .favorites .contact{
	min-height: 200px;
}
#app-contacts .favorites .contact:first-child{
	margin-left: 0;
}
#app-contacts .favorites .contact .contact-details{

}
#app-contacts .favorites .contact .contact-details h5{
	font-size: 16px;
	font-weight: bold;
}
#app-contacts .favorites .contact .contact-details .info{
	
}
#app-contacts .others{
	margin-top: 30px;
}
#app-contacts .more-options{
	padding-top: 30px;
	margin-top: 50px;
}
#app-contacts .more-options a.btn-round{
	padding: 3px 7px;
	border: 3px #4b1191 solid;
	border-radius: 15px;
	color: #4b1191;
	font-size: 16px;
}
#app-contacts .more-options a.btn-round:hover{
	background: #4b1191;
	color: #fff;
	margin-right: 10px;
}
#app-contacts .groups{
	margin-top: 65px;
}
#app-contacts .nav > li > a{
	padding: 10px 0;
	color: #333333;
	border-radius: 0;
}
#app-contacts .nav > li > a .badge{
	position: absolute;
	right: 0;
}
#app-contacts .nav > li > a:hover{
	border-bottom: 2px solid #4b1191;
}
#app-contacts .nav > li.active > a{
	background: #fff;
	border-bottom: 2px solid #E6E6E6;
	color:#4b1191;
}
