@import url(http://fonts.googleapis.com/css?family=Oswald:400,700|Roboto:400,700|Oxygen:400,700);

body, html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body {


	background:
		-webkit-linear-gradient(45deg, hsla(258, 100%, 43%, 1) 0%, hsla(258, 100%, 43%, 0) 70%),
		-webkit-linear-gradient(315deg, hsla(164, 95%, 43%, 1) 10%, hsla(164, 95%, 43%, 0) 80%),
		-webkit-linear-gradient(225deg, hsla(208, 99%, 44%, 1) 10%, hsla(208, 99%, 44%, 0) 80%),
		-webkit-linear-gradient(135deg, hsla(179, 93%, 47%, 1) 100%, hsla(179, 93%, 47%, 0) 70%);
	background:
		linear-gradient(45deg, hsla(258, 100%, 43%, 1) 0%, hsla(258, 100%, 43%, 0) 70%),
		linear-gradient(135deg, hsla(164, 95%, 43%, 1) 10%, hsla(164, 95%, 43%, 0) 80%),
		linear-gradient(225deg, hsla(208, 99%, 44%, 1) 10%, hsla(208, 99%, 44%, 0) 80%),
		linear-gradient(315deg, hsla(179, 93%, 47%, 1) 100%, hsla(179, 93%, 47%, 0) 70%);

	background-size: 100% 100%;
	font-family: 'Roboto', sans-serif;
	width: 100%;
	height: 100%;
}
/* Menu Bar */
.menu-bar {
	width: 100%;
	height: 40px;
	position: fixed;
	bottom: 0;
	background: rgba(0,0,0,.6);
	z-index: 9999;
}
.menu-bar .start {
	float: left;
}
.menu-bar .apps-bar {
	float: left;
	width: auto;
	position: relative;
	padding-top: 5px;
}
.menu-bar .clock-bar {
	color: #fff;
	font-size: 24px;
	font-family: 'Oxygen', sans-serif;
	float: right;
	width: 100px;
	text-align: right;
	padding-right: 5px;
}
.menu-bar .min-apps {
	height: 40px;
	width: 15px;
	cursor: pointer;
	float: right;
	border-left: rgba(0,0,0,.6) 2px solid;
}
.menu-bar .min-apps:hover {
	background: rgba(0,0,0,.6);
}
.menu-bar a.menu-icon {
	padding: 5px 20px;
	font-size: 15px;
	color: #fff;
	margin: 10px;
	height: 30px;
	background: #444;
	line-height: 30px;
}
.menu-bar a.menu-icon {

}
.menu-bar a:hover.menu-icon {
	color: #e8b602;
}
.menu-bar .start a.menu-icon.active {
	background: rgba(255,255,255,.6);
	color: #304563;
}
.menu-bar .start a.menu-icon {
	border: #222 solid;
	border-width: 0 1px;
	margin-left: 10px;
	font-size: 24px;
	padding: 5px 21px 5px 21px;
	border-radius: 0;
	height: 40px;
	line-height: 40px;
	background: rgba(0,0,0,.6);
}
.app-list {
	position: absolute;
	background: rgba(0,0,0,.6);
	width: 560px;
	height: 500px;
	display: none;
	bottom: 38px;
	left: 11px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	z-index: 9998;
}
.app-list:hover {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.app-list .search {
	width: 100%;
	height: 60px;
	text-align: center;
	padding-top: 10px;
	position: absolute;
	bottom: 0;
}
.app-list .search .input-group {
	margin: 0 auto;
}
.app-list .search input {
	background: transparent;
	border-radius: 0;
	width: 100%;
	color: #00738a;
	border: 1px #aec9d6 solid;
	border-right: 0;
	background: #fff;
}
.app-list .search input::-moz-placeholder {
	color: #aec9d6;
}
.app-list .search input::-webkit-placeholder {
	color: #aec9d6;
}
.app-list .search .input-group-addon {
	border-radius: 0;
	background: #fff;
	border: 1px #aec9d6 solid;
	border-left: 0;
	color: #aec9d6;
	width: auto;
}
.app-list .apps-userMenu {
	float: left;
	width: 63px;
	height: 100%;
	background: rgba(0,0,0,.6);
}
.app-list .apps-userMenu .userPhoto {
	padding: 10px 0 0 5px;
}
.app-list .apps-userMenu .menuLogout {
	bottom: 18px;
}
.app-list .apps-userMenu .fullScreenMenu {
	bottom: 143px;
}

.app-list .apps-userMenu .menu-icon {
	position: absolute;
	z-index: 5000;
	width: 63px;
	height: 50px;
	background: #1C1C1C;
	text-align: center;
	line-height: 50px;
}
.app-list .apps-userMenu .menu-icon a {
	color: #fff;
	font-size: 24px;
	width: 63px;
	height: 40px;
	display: block;
}
.app-list .apps-userMenu .menu-icon:hover {
	background-color: #666;
}
.app-list .apps-userMenu .settingMenu {
	bottom: 80px;
}

.app-list .apps-userMenu .userPhoto img {
	width: 50px;
	height: 50px;
	border: 3px rgba(255,255,255,.6) solid;
}
.app-list .apps-userMenu .userPhoto img:hover {
	cursor: pointer;
}
.app-list .apps-block {
	height: 430px;
	width: 487px;
	float: left;
	overflow: hidden;
}
.app-list .app-menu {
	height: 100px;
	position: relative;
	padding: 10px 20px;
	float: left;
	text-align: center;
	color: #fff;
	cursor: pointer;
	padding: 5px;
}
.app-list .app-menu .app-menu-container {
	background: rgba(0,0,0,.6);
}
.app-list .app-menu .app-menu-container:hover {
	background: rgba(0,0,0,.7);
	cursor: pointer;
}

.app-list .app-menu .app-icon {
	padding: 10px;
	font-size: 24px;
	width: 100%;
	height: 50px;
	text-align: center;
	float: left;
}
.app-list .app-menu .app-title {
	font-size: 14px;
	line-height: 40px;
	font-weight: bold;
}
.content {
	height: 100%;
	padding: 0;
}
.app-window {
	width: 100%;
	height: 100%;
	position: fixed;
	bottom: 40px;
	padding-top: 40px;
	padding-bottom: 40px;
}
.app-window .app-header {
	width: 100%;
	height: 40px;
	background: #222;
	line-height: 40px;
	color: #fff;
	text-align: center;
}
.app-window .app-header .action-window {
	width: 150px;
	position: absolute;
	right: 20px;
	top: 40px;
}
.app-window .app-header .action-window span {
	margin-left: 10px;
	font-size: 16px;
	cursor: pointer;
}
.app-window .app-header .action-window span:hover {
	color: #ffd630;
}
.app-window .app-content {
	width: 100%;
	height: 100%;
	padding: 20px;
	background: #fff;
	overflow: auto;
}
@media screen and (max-width: 700px) {

	.app-list {
		position: absolute;
		width: 100%;
		height: 100%;
		display: none;
		bottom: 38px;
		left: 0;
		box-shadow: none;
		background: #333;
		text-align: center;
	}
	.app-list .apps-block {
		height: 100%;
		width: 100%;
		padding-top: 40px;
	}
	.app-list .apps-userMenu {
		display: none;
	}
	.app-list .app-menu {
		border: 0;
		height: 100px;
		float: left;
		margin: 10px;
		padding: 0;
		margin: auto auto;
	}
	.app-list .app-menu .app-icon {
		float: none;
		width: 100%;
		padding: 0;
		line-height: 60px;
		text-align: center;
	}
	.app-list .app-menu .app-title {
		float: none;
		font-size: 11px;
		margin-left: 0;
		white-space: nowrap;
	}
	.app-list .search {
		display: none;
	}

}

/* Themes */

.red {
	background: rgba(230,4,0,.8) !important;
}
.blue {
	background: rgba(0,149,230,.8) !important;
}
.purple {
	background: rgba(153,0,230,.8) !important;
}
.green {
	background: rgba(0,179,27,.8) !important;
}
.orange {
	background: rgba(230,115,0,.8) !important;
}
.yellow {
	background: rgba(230,161,0,.8) !important;
}
.pink {
	background: rgba(230,0,142,.8) !important;
}
.white-blue {
	background: rgba(255,255,255,.8) !important;
	color: #0095e6 !important;
}
.white-red {
	background: rgba(255,255,255,.8) !important;
	color: #e80400 !important;
}
.white-purple {
	background: rgba(255,255,255,.8) !important;
	color: #9d00e6 !important;
}
.white-green {
	background: rgba(255,255,255,.8) !important;
	color: #00b31b !important;
}
